<div class="container" ng-controller="TemplateTask as tmplt">

	<div class="row">
			<div class="col-sm-10 col-md-4 col-md-offset-4">

				<h3>Create Operation</h3>

					<form method="post" class="form-sigin" name="tmpltForm" ng-submit='tmplt.createTemplate()'>

						<div class="form-group">
						    <label for="operation">Operation:</label>
						    <select ng-model="tmplt.tmpltData.operation_id" id="operation" class="form-control" required>
						    	<option value="select">Select</option>
						    </select>
						 </div>

						<div class="form-group">
						    <label for="title">Title:</label>
						    <input type="text" class="form-control" id="title" ng-model="tmplt.tmpltData.title"  required>
						 </div>

						<fieldset class="" data-ng-repeat="choice in choices">
							<div class="form-group col-sm-6">
					      		<input type="text" class="form-control " ng-model="choice.key" name="" placeholder="Enter key" required>
					      	</div>
					      	
					      	<div class="form-group col-sm-6">
					      		<input type="text" class="form-control col-sm-11" ng-model="choice.name" name="" placeholder="Enter value" required>
					      	</div>
					      	
					      	<div class="form-group">
					      		<a class="remove btn btn-danger" ng-if="choices.length>1" ng-show="$last" ng-click="removeChoice()">-</a>
					      		<a class="btn btn-success" ng-show="$last" ng-click="addNewChoice(choice.key, choice.name)">+</a>
					      	</div>
					      	
					   </fieldset>
					   
					   <a ng-if="choices.length==0" class="btn btn-success"  ng-click="addNewChoice(choice.key, choice.name)">+</a>
					       
					   <div id="choicesDisplay">
					      {{ choices }}
					   </div>

						<!-- Username: <input type="text" class="form-control" name="username" ng-model="tmplt.tmpltData.username" />

						Password: <input type="password" class="form-control" name="password" ng-model="tmplt.tmpltData.password" /> -->

						<button ng-disabled="tmpltForm.$idirty || tmpltForm.$invalid" type="submit" class="btn btn-primary">CREATE </button>
						
					</form>
			</div>
		</div>

</div>